<h2>Login</h2>
<hr>
<% form_for :user, :url => sessions_url(), :html => {:method => :post} do |f| %>
    <table>
        <tr>
            <td>Email: </td>
            <td><%= f.text_field :email, :size => 20 %></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><%= f.password_field :password, :size => 20 %></td>
        </tr>
        <tr>
            <td></td>
            <td><%= submit_tag "Login" %></td>
        </tr>
    </table>
<% end %>