<h2>Contacts <%= link_to image_tag("/images/add.png"), new_contact_url() %></h2>
<hr>
<div id="pagination">
    <%= will_paginate @contacts %>
</div>
<% for contact in @contacts %>
    <%= render :partial => "contact", :locals => {:contact => contact} %>
<% end %>
<div id="pagination">
    <%= will_paginate @contacts %>
</div>