<h2>Companies <%= link_to image_tag("/images/add.png"), new_company_url() %></h2>
<hr>
<% for company in @companies %>
    <%= render :partial => "company", :locals => {:company => company} %>
<% end %>