<% form_for :company, :url => companies_url(), :html => {:multipart => true, :method => :post} do |f| %>
    <table>
        <%= render :partial => "form", :locals => {:f => f} %>
        <tr>
            <td></td>
            <td><%= submit_tag "Add Company" %></td>
        </tr>
    </table>
<% end %>